#graph {
  margin-bottom: 20px;
}

a {
  color: #ff9900;
}

.lead {
  color: #c6c6c6;
}

.pcmr {
    color: #2ecc71;
}
.peasant {
    color: #3498db;
}
.lolwut {
    color: #e74c3c;
}

#clicky-buttons .btn {
    margin: 5px;
}
